@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font, main */
* {
    font-family: 'Noto Sans KR';
}
.Head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.DetailMain {
    display: block;
    margin: auto;
    flex-direction: row;
    width: 1080px;
    margin-top: 30px;
}

/* search */
.Descript {
    display: block;
    height: 100px;
}

.Prod {
    display: block;
}

#Category {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

#ImageDiv {
    display: inline-block;
    width: 500px;
    height: 500px;
    margin-right: 60px;
}

#DetailItemImage {
    width: 500px;
    height: 500px;
}

#DetailDescription {
    display: inline-block;
    width: 700px;
    height: 500px;
    position: absolute;
}

#DetailItemTitle {
    font-size: 40px;
    margin-bottom: 5px;
}

#DetailItemPrice {
    display: inline;
    font-size: 50px;
    font-weight: bold;
}

#DealFlag {
    display: inline;
    font-size: 40px;
    font-weight: bold;
    float: right;
    margin-right: 150px;
    color: #ff3d60;
}

#DealFlagDone{
    display: inline;
    font-size: 40px;
    font-weight: bold;
    float: right;
    margin-right: 150px;
    color: #999999;
}

#DealTypeDiv {
    display: inline-block;
    border: 2px solid #ff3d60;
    border-radius: 100px;
    background-color: white;
    width: 130px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    margin-top: 40px;
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    color: #ff3d60;
}

#DealType {
    display: inline;
    font-size: 22px;
}

#MoreInfo {
    margin-top: 40px;
    margin-bottom: 40px;
}

#LikeDate {
    display: inline;
    font-size: 25px;
}

#ReportButton {
    display: inline;
    float: right;
    margin-right: 150px;
    font-size: 25px;
    cursor: pointer;
}

#LikeButton {
    width: 260px;
    height: 55px;
    line-height: 25px;
    font-size: 26px;
    border: solid 2px #ff3d60;
    background-color: #FFF;
    font-weight: bold;
    color: #ff3d60;
    cursor: pointer;
}

#MessageButton {
    width: 260px;
    height: 55px;
    line-height: 25px;
    font-size: 26px;
    border: solid 2px #ff3d60;
    background-color: #ff3d60;
    float: right;
    margin-right: 150px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#DeleteButton {
    width: 163px;
    height: 55px;
    line-height: 25px;
    font-size: 26px;
    border: solid 2px #888;
    background-color: #FFF;
    margin-right: 31px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

#EditButton {
    width: 163px;
    height: 55px;
    line-height: 25px;
    font-size: 26px;
    border: solid 2px #ff3d60;
    background-color: #ff3d60;
    color: #FFF;
    margin-right: 31px;
    font-weight: bold;
    cursor: pointer;
}

#CompleteButton {
    width: 163px;
    height: 55px;
    line-height: 25px;
    font-size: 26px;
    border: solid 2px #ff3d60;
    background-color: #FFF;
    font-weight: bold;
    color: #ff3d60;
    cursor: pointer;
}

#Infos {
    margin-top: 20px;
}

#InfoTitle {
    font-size: 28px;
    font-weight: bold;
    margin: 8px;
    color: #ff3d60;
}

#Info {
    font-size: 20px;
    margin: 12px;
    
}

#Info2 {
    font-size: 20px;
    margin: 12px;
    margin-bottom: 150px;
    width: 1100px;
    display: block;
    white-space: pre-wrap;
    word-break: break-all;
}

/*모달창*/
#DetailModalContainer {
  width: 100%;
  height: 100vh;
  background-color: rgb(0,0,0,0.5);
  position: fixed;
  z-index: 10;
}

#DetailModalMain {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  background: white;
  transform: translate(-50%, -50%);
  z-index:100;
}

.DetailModalContent {
  display: flex;
  flex-direction: column;
}

#DetailModalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

#CloseIcon {
  position: absolute;
  right: 20px;
  width: 20px;
  cursor: pointer;
}

.FontTitle {
  font-size: 20px;
  font-weight: bold;
}

#DetailModalBtn {
  width: 480px;
  height: 50px;
  font-size: 18px;
  outline: none;
  color: white;
  background-color: #ff3d60;
  border: 1px solid #ff3d60;
  cursor: pointer;
  margin-top: 20px;
}

.DetailModalContent {
  width: 480px;
  height: 250px;
  overflow-y: auto;
  text-align: center;
}

.DetailModalContent table {
  border: 1px solid #cdcdcd;
  border-spacing: 0px;
}

.DetailModalContent th {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;
}

.DetailModalContent th:last-child {
  border: 0px;
}