#Score {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    align-items: center;
    align-content: center;
}

#ScoreIcon {
    width: 100px;
    height: 100px;
}

#ScoreTitle {
    font-size: 20px;
    text-align: center;
}

#EvaluateModalSection {
    align-content: center;
    width: 700px;
    height: 350px;
}

#EvaluateModalMain {
    width: 650px;
    height: 250px;
    align-items: center;
}

#EvaluateModalText {
    font-size: 20px;
    text-align: center;
}

#EvaluateModalTextStrong {
    font-weight: bold;
}

#ScoreSelect {
    margin-top: 30px;
    margin-bottom: 40px;
}

.EvaluateModal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}
.EvaluateModal button {
    width: 700px;
    height: 60px;
    text-align: center;
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: 25px;
    background-color: #ff3d60;
    color: white;
}
.EvaluateModal > section {
    width: 450px;
    height: fit-content;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
}
.EvaluateModal > section > header {
    position: relative;
    padding: 16px 64px 16px 16px;
    background-color: #f1f1f1;
    font-weight: 700;
}
.EvaluateModal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
}

.EvaluateModal.openEvaluateModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
}

input[type="radio"]:checked+label {
    border: 1px solid #ff3d60;
}

@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Invisible {
    visibility: hidden;
}