div.linkbox {
    height: 50px;
    width: 470px;
    margin: 10px 10px;
    text-align: right;
    text-decoration-line: none;
}

span.linktext {
    font-size: 18px;
    color: black;
}

span.descript {
    font-size: 18px;
    color:gray;
}

span.descriptlink {
    font-size: 18px;
    color: #FF9696;
}

div.toregister {
    text-align: center;
}

div.errmsgbox {
    text-align: center;
}

span.regerrormsg {
    font-size: 16px;
    color: red;
}

span.foundid {
    font-size: 20px;
}