@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Noto Sans KR';
}

.inputshort,
.input{
  height: 50px;
  width: 450px;
  
  /* border: none;
  background-color: #F8F8F8;
  또는 */
  border: 2px solid #CDCDCD;
  background-color: #FFF;
  outline: none;
 
  padding-left: 15px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.inputshort{
  width: 350px;
}
