#BannerDiv {
    width: 100%;
}

#BannerImage {
    width: 100%;
}

.CategoryBackground {
    width: 100%;
    background-color: white;
    height: 500px;
}

.Categories {
    text-align: center;
}

.CategoryInfo {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#CategoryImage {
    width: 150px;
    height: 150px;
}

#CategoryName {
    height: 30px;
    margin-top: 5px;
    font-size: 22px;
}

.Description1 {
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
}

.Description2 {
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 20px;
}

.ItemsBackground {
    width: 100%;
    background-color: #ffecec;
}

.Items {
    display: block;
    margin: auto;
    flex-direction: row;
    width: 1280px;
}