.MessageMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Left {
  width: 480px;
  height: 740px;
  background-color: white;
  margin-right: 30px;
  border: 1px solid #cdcdcd;
}

.Right {
  width: 726px;
  background-color: white;
  border: 1px solid #cdcdcd;
}

.MsgTitle {
  display: flex;
  height: 74px;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  padding-left: 20px;
}

.MsgList {
  overflow-y: auto;
  height: 596px;
}

.MsgList::-webkit-scrollbar {
  width: 8px;
}

.MsgList::-webkit-scrollbar-thumb {
  height: 30%;
  background: #ff3d60;;
  border-radius: 10px;
  margin: 1px;
}

.MsgList::-webkit-scrollbar-track {
  background: white;
}

#MsgMyName {
  font-size: 20px;
  font-weight: bold;
  color: #8e8e8e
}

#MsgName {
  font-size: 20px;
  font-weight: bold;
}

#MsgIntroName {
  font-size: 20px;
  font-weight: bold;
}

.MsgContent #MsgName {
  color: #ff3d60
}

#MsgDate {
  font-size: 16px;
}

#MsgContent {
  width: 100%;
  font-size: 18px;
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
}

#MsgDetail {
  font-size: 18px;
}

#MsgNull {
  width: 100%;
  background-color: white;
}

.MsgSender {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left:20px;
  padding-right:20px;
  padding-top:12px;
  padding-bottom:12px;
}

#MsgDate {
  color: #8e8e8e;
}

.radio:checked + div {
  background: #ff3d60;
  color: white;
}

.radio:checked + div #MsgDate {
  color: white;
}

.radio {
  display: none;
}

.MsgContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left:20px;
  padding-right:20px;
  padding-top:12px;
  padding-bottom:12px;
  border-bottom: 1px solid #cdcdcd;;
}

.Space {
  height: 5px;
}

a {
  color: #3366BB;
}

.Icon {
  height: 36px;
  width: 36px;
  margin-right: 30px;
}