@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font, main */
* {
    font-family: 'Noto Sans KR';
}
.Head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Main {
    display: block;
    margin: auto;
    flex-direction: row;
    width: 1280px;
}

/* search */
#ResultInfo {
    margin-left: 45px;
    margin-bottom: 10px;
    font-size: 25px;
}
#TargetWorld {
    color: #ff3d60;
    font-weight: bold;
}

.Descript {
    display: block;
    height: 100px;
}

.Prod {
    display: block;
}

#CategoryDiv {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border: 1px solid gray;
    border-radius: 100px;
    text-align: center;
    margin-left: 40px;
    font-size: 20px;
}

#Symbol {
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#InlineBlock {
    display: inline-block;
}

#CategorySelect {
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 30px;
}

#WriteButton {
    display: inline-block;
    width: 160px;
    height: 50px;
    background-color: #ff3d60;
    color: white;
    font-weight: bold;
    border: none;
    float: right;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

#NoProduct {
    text-align: center;
    font-size: 28px;
}

.ItemInfo {
    display: inline-block;
    background-color: white;
    margin-left: 23.5px;
    margin-right: 23.5px;
    margin-bottom: 30px;
    width: 209px;
}

#ItemImage {
    width: 209px;
    height: 209px;
}

#ItemTitle {
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#ItemPrice {
    height: 40px;
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
}

#SearchSelect {
    width: 120px;
    height: 40px;
    font-size: 20px;
    margin-left: 40px;
    border: 1px solid #ff3d60;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 30px;
}